In [ ]:
import gdown
import re
import tabulate

import numpy as np
import pandas as pd

## Задание 0

Для всех  заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные **tr_mcc_codes, tr_types, transactions и gender_train** из одноимённых таблиц из папки [data](https://drive.google.com/drive/folders/1YAMe7MiTxA-RSSd8Ex2p-L0Dspe6Gs4L). 

Для таблицы transactions используйте только первые n=1000000 строк. При чтении файлов обратите внимание на разделители внутри каждого из файлов - они могут различаться!

In [ ]:
download_pattern = 'https://drive.google.com/uc?id='
filenames = [
    'tr_mcc_codes.csv',
    'tr_types.csv',
    'transactions.csv',
    'gender_train.csv'
]
share_urls = [
    'https://drive.google.com/file/d/10J8RzMIhoYHiad49r-oWNMAk-V5lo3OE/view?usp=sharing',
    'https://drive.google.com/file/d/1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc/view?usp=sharing',
    'https://drive.google.com/file/d/1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq/view?usp=sharing',
    'https://drive.google.com/file/d/1FG1fopcmvMZ7GBaBOqQipccSeFoMUvNT/view?usp=sharing'
]

ids = []
for link in share_urls:
    ids.append(re.search('/d/(.+?)/view', link).group(1))

download_links = []
for file_id in ids:
    dwnld_link = download_pattern + file_id
    download_links.append(dwnld_link)

files = []
for i in range(len(download_links)):
    files.append(gdown.download(download_links[i], filenames[i]))

files_info = pd.DataFrame(dtype=str,
                          index=filenames,
                          columns=[
                              'file_name',
                              'share_url',
                              'id',
                              'download_url',
                              'file'
                          ])

files_info['file_name'] = filenames
files_info['share_url'] = share_urls
files_info['id'] = ids
files_info['download_url'] = download_links
files_info['file'] = files

filenames.clear()
share_urls.clear()
ids.clear()
download_links.clear()
files.clear()


def print_dataframe(dataframe):
    print(tabulate.tabulate(dataframe, headers='keys', numalign='center', stralign='left', tablefmt='fancy_grid', ))


print_dataframe(files_info)

Downloading...
From: https://drive.google.com/uc?id=10J8RzMIhoYHiad49r-oWNMAk-V5lo3OE
To: /content/tr_mcc_codes.csv
100%|██████████| 14.9k/14.9k [00:00<00:00, 5.60MB/s]
Downloading...
From: https://drive.google.com/uc?id=1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc
To: /content/tr_types.csv
100%|██████████| 14.2k/14.2k [00:00<00:00, 20.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq
To: /content/transactions.csv
100%|██████████| 314M/314M [00:02<00:00, 134MB/s]
Downloading...
From: https://drive.google.com/uc?id=1FG1fopcmvMZ7GBaBOqQipccSeFoMUvNT
To: /content/gender_train.csv
100%|██████████| 99.9k/99.9k [00:00<00:00, 12.0MB/s]

╒══════════════════╤══════════════════╤════════════════════════════════════════════════════════════════════════════════════╤═══════════════════════════════════╤══════════════════════════════════════════════════════════════════╤══════════════════╕
│                  │ file_name        │ share_url                                                                          │ id                                │ download_url                                                     │ file             │
╞══════════════════╪══════════════════╪════════════════════════════════════════════════════════════════════════════════════╪═══════════════════════════════════╪══════════════════════════════════════════════════════════════════╪══════════════════╡
│ tr_mcc_codes.csv │ tr_mcc_codes.csv │ https://drive.google.com/file/d/10J8RzMIhoYHiad49r-oWNMAk-V5lo3OE/view?usp=sharing │ 10J8RzMIhoYHiad49r-oWNMAk-V5lo3OE │ https://drive.google.com/uc?id=10J8RzMIhoYHiad49r-oWNMAk-V5lo3OE │ tr_mcc_codes.csv │
├──────────────────┼──────────────────┼────────────────────────────────────────────────────────────────────────────────────┼───────────────────────────────────┼──────────────────────────────────────────────────────────────────┼──────────────────┤
│ tr_types.csv     │ tr_types.csv     │ https://drive.google.com/file/d/1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc/view?usp=sharing │ 1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc │ https://drive.google.com/uc?id=1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc │ tr_types.csv     │
├──────────────────┼──────────────────┼────────────────────────────────────────────────────────────────────────────────────┼───────────────────────────────────┼──────────────────────────────────────────────────────────────────┼──────────────────┤
│ transactions.csv │ transactions.csv │ https://drive.google.com/file/d/1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq/view?usp=sharing │ 1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq │ https://drive.google.com/uc?id=1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq │ transactions.csv │
├──────────────────┼──────────────────┼────────────────────────────────────────────────────────────────────────────────────┼───────────────────────────────────┼──────────────────────────────────────────────────────────────────┼──────────────────┤
│ gender_train.csv │ gender_train.csv │ https://drive.google.com/file/d/1FG1fopcmvMZ7GBaBOqQipccSeFoMUvNT/view?usp=sharing │ 1FG1fopcmvMZ7GBaBOqQipccSeFoMUvNT │ https://drive.google.com/uc?id=1FG1fopcmvMZ7GBaBOqQipccSeFoMUvNT │ gender_train.csv │
╘══════════════════╧══════════════════╧════════════════════════════════════════════════════════════════════════════════════╧═══════════════════════════════════╧══════════════════════════════════════════════════════════════════╧══════════════════╛

###  Описание данных
#### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


#### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

#### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

In [ ]:
# чтение файлов в DataFrame

tr_mcc_codes = pd.read_csv(filepath_or_buffer=files_info['file_name']['tr_mcc_codes.csv'],
                           sep=';',
                           index_col='mcc_code',
                           usecols=['mcc_code', 'mcc_description'])

tr_types = pd.read_csv(filepath_or_buffer=files_info['file_name']['tr_types.csv'],
                       sep=';',
                       index_col='tr_type',
                       usecols=['tr_type', 'tr_description'])

transactions = pd.read_csv(filepath_or_buffer=files_info['file_name']['transactions.csv'],
                           sep=',',
                           nrows=1000000,
                           index_col='customer_id',
                           usecols=['customer_id', 'tr_datetime', 'mcc_code', 'tr_type', 'amount', 'term_id'])

gender_train = pd.read_csv(filepath_or_buffer=files_info['file_name']['gender_train.csv'],
                           sep=',',
                           index_col='customer_id',
                           usecols=['customer_id', 'gender'])


Задания 1-4 делаются без использования merge!

## Задание 1

1. Для столбца tr_type датафрейма transactions выберите произвольные 1000 строк с помощью метода sample
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец tr_description в датасете tr_types), в которой содержится подстрока 'POS' или 'ATM'

In [ ]:
subsample = transactions['tr_type'].sample(1000)  # Series of types
subsample_info = pd.DataFrame(
    index=subsample,
    columns=['tr_description']
)
subsample_info.update(tr_types.tr_description)

pattern = 'POS|АТМ'
tr_types_contained_pattern = subsample_info[(subsample_info.tr_description.str.contains(pattern)) == True]

print("Соотношение имеющих в описании типа транзакции POS|АТМ ко всем типам транзакции в случайной выборке =",
      tr_types_contained_pattern.size / subsample_info.size)





# # В цикле по типам найти этот тип в другой таблице и проверить его описание. Если описание содержит нужный паттерн - 
# # увеличить количество. 
# def count_strs_contained_pattern(sample, sub_sample, pattern):
#     count = 0
#     for item in sub_sample:
#         if re.search(pattern, sample.loc[item]) is not None:
#             count += 1
#     return count


# subsample = transactions['tr_type'].sample(1000)  # Series of types
# types_contained_condition = count_strs_contained_pattern(sample=tr_types.tr_description,
#                                                          sub_sample=subsample,
#                                                          pattern='POS|АТМ')

# print("Соотношение имеющих в описании типа транзакции POS|АТМ ко всем типам транзакции в случайной выборке = ",
#       types_contained_condition / subsample.size)

Соотношение имеющих в описании типа транзакции POS|АТМ ко всем типам транзакции в случайной выборке = 0.61

## Задание 2

1. Для столбца tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Выведите топ-10 транзакций по частоте встречаемости (вывести для них tr_description тоже).

In [ ]:
types_frequency = pd.DataFrame(
    index=tr_types.index,
    columns=['occurrence', 'tr_description'],
)

types_frequency.occurrence = transactions.tr_type.value_counts()
types_frequency.update(tr_types.tr_description)
top10 = types_frequency.sort_values(by='occurrence', ignore_index=False, ascending=False).head(10)

print_dataframe(top10)




# types_frequency = pd.DataFrame(
#     index=tr_types.index,
#     columns=['occurrence', 'tr_description'],
# )

# for type_of_transaction in tr_types.index:
#     types_frequency.occurrence[type_of_transaction] = \
#         transactions.tr_type[(transactions.tr_type == type_of_transaction)].size
#     types_frequency.tr_description[type_of_transaction] = tr_types.tr_description[type_of_transaction]

# sorted_occurrence = types_frequency.sort_values(by='occurrence', ignore_index=False, ascending=False).head(10)
# print_dataframe(sorted_occurrence)

╒═══════════╤══════════════╤═══════════════════════════════════════════════════════════════════════════════════════════════════════╕
│  tr_type  │  occurrence  │ tr_description                                                                                        │
╞═══════════╪══════════════╪═══════════════════════════════════════════════════════════════════════════════════════════════════════╡
│   1010    │    231117    │ Покупка. POS ТУ СБ РФ                                                                                 │
├───────────┼──────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────┤
│   2010    │    151166    │ Выдача наличных в АТМ Сбербанк России                                                                 │
├───────────┼──────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────┤
│   7070    │    149006    │ Перевод на карту (с карты) через Мобильный банк (без взимания комиссии с отправителя)                 │
├───────────┼──────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────┤
│   1110    │    137658    │ Покупка. POS ТУ Россия                                                                                │
├───────────┼──────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────┤
│   1030    │    118975    │ Оплата услуги. Банкоматы СБ РФ                                                                        │
├───────────┼──────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────┤
│   2370    │    49830     │ Списание с карты на карту по операции <перевода с карты на карту> через Мобильный банк (без комиссии) │
├───────────┼──────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────┤
│   7010    │    28972     │ Взнос наличных через АТМ (в своем тер.банке)                                                          │
├───────────┼──────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────┤
│   7030    │    26078     │ Перевод на карту (с карты) через АТМ (в пределах одного тер.банка)                                    │
├───────────┼──────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────┤
│   7071    │    15781     │ Перевод на карту (с карты) через Мобильный банк (с взиманием комиссии с отправителя)                  │
├───────────┼──────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────┤
│   1100    │    15476     │ Покупка. ТУ  Россия                                                                                   │
╘═══════════╧══════════════╧═══════════════════════════════════════════════════════════════════════════════════════════════════════╛

## Задание 3
1. В датафрейме transactions найдите клиента с максимальной суммой приходов на карту
2. В датафрейме transactions найдите клиента с максимальной суммой расходов по карте
3. Найдите модуль разницы для этих клиентов между суммой расходов и суммой приходов

In [ ]:
customer_info = pd.DataFrame(
    index=transactions.index.unique(),
    columns=['expenses', 'deposits']
)

groups_of_customer = transactions.groupby(level='customer_id')

for customer_id, operations in groups_of_customer:
    positive_sum = operations.amount[operations.amount > 0.0].sum()
    negative_sum = operations.amount[operations.amount < 0.0].sum()

    customer = pd.Series(data={
        'expenses': round(negative_sum, 3),
        'deposits': round(positive_sum, 3)
    })
    customer_info.loc[customer_id] = customer

customer_info['difference'] = np.abs(customer_info.deposits + customer_info.expenses)

min_customer = customer_info.sort_values(by='expenses', ignore_index=False, ascending=True).head(1)
max_customer = customer_info.sort_values(by='deposits', ignore_index=False, ascending=False).head(1)

print("\nКлиент с максимальной суммой приходов на карту: ")
print_dataframe(max_customer)

print("\nКлиент с максимальной суммой расходов на карту: ")
print_dataframe(min_customer)

Клиент с максимальной суммой приходов на карту:
╒═══════════════╤══════════════╤═════════════╤══════════════╕
│  customer_id  │   expenses   │  deposits   │  difference  │
╞═══════════════╪══════════════╪═════════════╪══════════════╡
│   70780820    │ -1.24995e+09 │ 1.24811e+09 │ 1.83732e+06  │
╘═══════════════╧══════════════╧═════════════╧══════════════╛

Клиент с максимальной суммой расходов на карту:
╒═══════════════╤══════════════╤═════════════╤══════════════╕
│  customer_id  │   expenses   │  deposits   │  difference  │
╞═══════════════╪══════════════╪═════════════╪══════════════╡
│   70780820    │ -1.24995e+09 │ 1.24811e+09 │ 1.83732e+06  │
╘═══════════════╧══════════════╧═════════════╧══════════════╛

## Задание 4
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций из топ 10 из задания 2
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций для клиентов из задания 3

In [ ]:
tr_types_top10_info = pd.DataFrame(
    index=top10.index,
)

all_top10_tr_groups = transactions[transactions.tr_type.isin(top10.index)].groupby('tr_type')

tr_types_top10_info['mean'] = all_top10_tr_groups.amount.mean()
tr_types_top10_info['median'] = all_top10_tr_groups.amount.median()

print("\nИнформация о amount по всем типам транзакций из топ 10 (результат задания 2):")
print_dataframe(tr_types_top10_info)


def get_mean_and_median_for_each_tr_type_of_customer(id_of_cus):
    all_customer_transactions = transactions.loc[id_of_cus].groupby(by='tr_type', as_index=True)
    mean = all_customer_transactions.amount.mean()
    median = all_customer_transactions.amount.median()
    return mean, median


min_customer_id = min_customer.index[0]
max_customer_id = max_customer.index[0]
tr_types_min_customer_info = pd.DataFrame(index=transactions.loc[min_customer_id].tr_type.unique())
tr_types_max_customer_info = pd.DataFrame(index=transactions.loc[max_customer_id].tr_type.unique())


tr_types_min_customer_info['mean'], tr_types_min_customer_info['median'] = \
    get_mean_and_median_for_each_tr_type_of_customer(min_customer_id)

if min_customer_id == max_customer_id:
    print("\nТ.к. идентификаторы клиента с максимальной суммой приходов на карту и "
          "клиента с максимальной суммой расходов по карте совпадают, таблица для одного человека только одна:")
    print_dataframe(tr_types_min_customer_info)
else:
    print("\nИнформация о amount по всем типам транзакций для клиента с максимальной суммой расходов по карте"
          " (результат задания 3):")
    print_dataframe(tr_types_min_customer_info)

    tr_types_max_customer_info['mean'], tr_types_min_customer_info['median'] = \
        get_mean_and_median_for_each_tr_type_of_customer(min_customer_id)

    print("\nИнформация о amount по всем типам транзакций для клиента с максимальной суммой приходов на карту"
          " (результат задания 3):")
    print_dataframe(tr_types_max_customer_info)

Информация о amount по всем типам транзакций из топ 10 (результат задания 2):
╒═══════════╤══════════╤══════════╕
│  tr_type  │   mean   │  median  │
╞═══════════╪══════════╪══════════╡
│   1010    │ -19784.7 │ -7411.52 │
├───────────┼──────────┼──────────┤
│   2010    │ -136078  │ -44918.3 │
├───────────┼──────────┼──────────┤
│   7070    │ 65569.8  │ 11319.4  │
├───────────┼──────────┼──────────┤
│   1110    │ -32119.3 │ -11207.6 │
├───────────┼──────────┼──────────┤
│   1030    │ -5320.98 │ -2245.92 │
├───────────┼──────────┼──────────┤
│   2370    │ -205418  │ -44918.3 │
├───────────┼──────────┼──────────┤
│   7010    │  276392  │  112296  │
├───────────┼──────────┼──────────┤
│   7030    │ 86104.3  │ 13951.5  │
├───────────┼──────────┼──────────┤
│   7071    │ 66806.8  │ 3593.47  │
├───────────┼──────────┼──────────┤
│   1100    │ -44061.8 │ -10188.3 │
╘═══════════╧══════════╧══════════╛

Т.к. идентификаторы клиента с максимальной суммой приходов на карту и клиента с максимальной суммой расходов по карте совпадают, таблица для одного человека только одна:
╒══════╤══════════════╤══════════════╕
│      │     mean     │    median    │
╞══════╪══════════════╪══════════════╡
│ 7030 │    14062     │   8848.91    │
├──────┼──────────────┼──────────────┤
│ 7070 │   13848.2    │   8714.15    │
├──────┼──────────────┼──────────────┤
│ 7071 │   18600.6    │   12543.4    │
├──────┼──────────────┼──────────────┤
│ 7020 │   14651.3    │    10320     │
├──────┼──────────────┼──────────────┤
│ 7031 │   19210.4    │   12992.6    │
├──────┼──────────────┼──────────────┤
│ 2370 │ -2.2185e+06  │ -2.24592e+06 │
├──────┼──────────────┼──────────────┤
│ 2010 │ -2.94106e+06 │ -3.36887e+06 │
├──────┼──────────────┼──────────────┤
│ 6110 │   17562.9    │    10028     │
├──────┼──────────────┼──────────────┤
│ 7074 │   22811.6    │   9387.93    │
├──────┼──────────────┼──────────────┤
│ 7034 │   14306.5    │   14306.5    │
├──────┼──────────────┼──────────────┤
│ 7040 │   21538.3    │   14396.3    │
├──────┼──────────────┼──────────────┤
│ 2330 │ -2.3824e+06  │ -2.24592e+06 │
├──────┼──────────────┼──────────────┤
│ 7021 │   28500.7    │   28500.7    │
╘══════╧══════════════╧══════════════╛

## Подготовка для заданий 5-8

*Из заданий 5-8 нужно выполнить минимум два любых*

Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
transactions = pd.merge(transactions.reset_index(), gender_train.reset_index(), how='left')
transactions = pd.merge(transactions.reset_index(), tr_mcc_codes.reset_index(), how='inner')
transactions = pd.merge(transactions.reset_index(), tr_types.reset_index(), how='inner')
print_dataframe(transactions.sample(10))
print("Размеры соединённой матрицы:", transactions.shape)

genders = {
    'male': 0,
    'female': 1
}

╒════════╤═══════════╤═════════╤═══════════════╤═══════════════╤════════════╤═══════════╤══════════╤═════════════╤══════════╤════════════════════════════════════════════════════════╤═══════════════════════════════════════════════════════════════════════════════════════╕
│        │  level_0  │  index  │  customer_id  │ tr_datetime   │  mcc_code  │  tr_type  │  amount  │   term_id   │  gender  │ mcc_description                                        │ tr_description                                                                        │
╞════════╪═══════════╪═════════╪═══════════════╪═══════════════╪════════════╪═══════════╪══════════╪═════════════╪══════════╪════════════════════════════════════════════════════════╪═══════════════════════════════════════════════════════════════════════════════════════╡
│ 387945 │  769647   │ 363828  │   36659899    │ 167 08:13:38  │    5411    │   1010    │ -1953.95 │     nan     │   nan    │ Бакалейные магазины, супермаркеты                      │ Покупка. POS ТУ СБ РФ                                                                 │
├────────┼───────────┼─────────┼───────────────┼───────────────┼────────────┼───────────┼──────────┼─────────────┼──────────┼────────────────────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ 792583 │  361950   │ 559557  │   42052798    │ 454 14:52:13  │    4829    │   4071    │  -112.3  │   888902    │    0     │ Денежные переводы                                      │ Плата за перевод на карту (с карты) через Мобильный банк                              │
├────────┼───────────┼─────────┼───────────────┼───────────────┼────────────┼───────────┼──────────┼─────────────┼──────────┼────────────────────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ 499163 │  968485   │ 745852  │   43046245    │ 145 13:05:13  │    5947    │   1010    │  -86333  │     nan     │   nan    │ Магазины открыток, подарков, новинок и сувениров       │ Покупка. POS ТУ СБ РФ                                                                 │
├────────┼───────────┼─────────┼───────────────┼───────────────┼────────────┼───────────┼──────────┼─────────────┼──────────┼────────────────────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ 698023 │  318481   │ 994737  │   74285914    │ 435 12:56:26  │    6011    │   2010    │ -67377.5 │   992449    │   nan    │ Финансовые институты — снятие наличности автоматически │ Выдача наличных в АТМ Сбербанк России                                                 │
├────────┼───────────┼─────────┼───────────────┼───────────────┼────────────┼───────────┼──────────┼─────────────┼──────────┼────────────────────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ 184430 │  759120   │ 299178  │   28793526    │ 452 00:00:00  │    5411    │   1110    │ -13250.9 │ 2.50106e+07 │    1     │ Бакалейные магазины, супермаркеты                      │ Покупка. POS ТУ Россия                                                                │
├────────┼───────────┼─────────┼───────────────┼───────────────┼────────────┼───────────┼──────────┼─────────────┼──────────┼────────────────────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ 444135 │  864697   │ 841338  │   76132762    │ 84 07:36:12   │    5812    │   1010    │ -1976.41 │     nan     │   nan    │ Места общественного питания, рестораны                 │ Покупка. POS ТУ СБ РФ                                                                 │
├────────┼───────────┼─────────┼───────────────┼───────────────┼────────────┼───────────┼──────────┼─────────────┼──────────┼────────────────────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ 663576 │  272749   │ 769696  │   21588377    │ 59 19:56:09   │    6011    │   2010    │ -44918.3 │     nan     │   nan    │ Финансовые институты — снятие наличности автоматически │ Выдача наличных в АТМ Сбербанк России                                                 │
├────────┼───────────┼─────────┼───────────────┼───────────────┼────────────┼───────────┼──────────┼─────────────┼──────────┼────────────────────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ 996554 │  636435   │ 765158  │   31967438    │ 130 03:13:00  │    6010    │   7031    │  336887  │     nan     │    0     │ Финансовые институты — снятие наличности вручную       │ Перевод на карту (с карты) через АТМ (из одного ТБ в другой ТБ)                       │
├────────┼───────────┼─────────┼───────────────┼───────────────┼────────────┼───────────┼──────────┼─────────────┼──────────┼────────────────────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ 443271 │  862931   │ 732493  │   35680778    │ 74 12:54:47   │    5812    │   1010    │ -3121.82 │     nan     │    1     │ Места общественного питания, рестораны                 │ Покупка. POS ТУ СБ РФ                                                                 │
├────────┼───────────┼─────────┼───────────────┼───────────────┼────────────┼───────────┼──────────┼─────────────┼──────────┼────────────────────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ 809408 │  481002   │ 109386  │   87629740    │ 38 09:50:54   │    6010    │   7070    │  112296  │     nan     │    1     │ Финансовые институты — снятие наличности вручную       │ Перевод на карту (с карты) через Мобильный банк (без взимания комиссии с отправителя) │
╘════════╧═══════════╧═════════╧═══════════════╧═══════════════╧════════════╧═══════════╧══════════╧═════════════╧══════════╧════════════════════════════════════════════════════════╧═══════════════════════════════════════════════════════════════════════════════════════╛
Размеры соединённой матрицы: (999584, 11)

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин

Обратите внимание, что для вычисления модуля разности точных знаний о том, 
какой класc относится к мужчинам, а какой - к женщинам, не требуется.

In [ ]:
diff_expenses = np.abs(transactions[(transactions.gender == genders['female']) & (transactions.amount < 0.0)].amount.mean() -
                       transactions[(transactions.gender == genders['male']) & (transactions.amount < 0.0)].amount.mean())

diff_deposits = (np.abs(transactions[(transactions.gender == genders['male']) & (transactions.amount > 0.0)].amount.mean() -
                        transactions[(transactions.gender == genders['female']) & (transactions.amount > 0.0)].amount.mean()))

print("\nМодуль разницы между средними тратами женщин и мужчин = ", round(diff_expenses, 3))
print("Модуль разницы между средними поступлениями у мужчин и женщин = ", round(diff_deposits, 3))

Модуль разницы между средними тратами женщин и мужчин =  32718.055
Модуль разницы между средними поступлениями у мужчин и женщин =  63366.571

## Задание 6

1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 типов транзакций для мужчин и для женщин, наименьших среди всех типов транзакций по полученным значениям "max_income". 
2. Выделите среди них те типы транзакций, которые встречаются одновременно и у мужчин, и у женщин

In [ ]:
male_max_incomes = transactions[(transactions.amount > 0.0) & (transactions.gender == genders['male'])].\
    groupby('tr_type').amount.max()
female_max_incomes = transactions[(transactions.amount > 0.0) & (transactions.gender == genders['female'])].\
    groupby('tr_type').amount.max()

top10_lowest_male_max_incomes = male_max_incomes.sort_values(ignore_index=False, ascending=True).head(10)
top10_lowest_female_max_incomes = female_max_incomes.sort_values(ignore_index=False, ascending=True).head(10)

intersected_values = pd.DataFrame(
    index=pd.Series(np.intersect1d(top10_lowest_male_max_incomes.index, top10_lowest_female_max_incomes.index)),
    columns=['max_income_male', 'max_income_female'],
)

intersected_values['max_income_male'] = \
    top10_lowest_male_max_incomes[top10_lowest_male_max_incomes.index.isin(intersected_values.index)]
intersected_values['max_income_female'] = \
    top10_lowest_female_max_incomes[top10_lowest_female_max_incomes.index.isin(intersected_values.index)]

print("\nТоп 10 типов транзакций с наименьшей максимальной суммой прихода среди мужчин:")
print_dataframe(pd.DataFrame(top10_lowest_male_max_incomes))

print("\nТоп 10 типов транзакций с наименьшей максимальной суммой прихода среди женщин:")
print_dataframe(pd.DataFrame(top10_lowest_female_max_incomes))

print("\n Типы транзакций, которые встречаются одновременно и у мужчин, и у женщин:")
print_dataframe(intersected_values)

Топ 10 типов транзакций с наименьшей максимальной суммой прихода среди мужчин:
╒═══════════╤══════════╕
│  tr_type  │  amount  │
╞═══════════╪══════════╡
│   4051    │ 1122.96  │
├───────────┼──────────┤
│   4110    │ 2245.92  │
├───────────┼──────────┤
│   4210    │ 2245.92  │
├───────────┼──────────┤
│   2370    │ 2335.75  │
├───────────┼──────────┤
│   4100    │ 5041.86  │
├───────────┼──────────┤
│   7075    │ 6737.75  │
├───────────┼──────────┤
│   2110    │ 22459.2  │
├───────────┼──────────┤
│   1010    │ 24839.8  │
├───────────┼──────────┤
│   2010    │ 44918.3  │
├───────────┼──────────┤
│   2210    │ 68315.8  │
╘═══════════╧══════════╛

Топ 10 типов транзакций с наименьшей максимальной суммой прихода среди женщин:
╒═══════════╤══════════╕
│  tr_type  │  amount  │
╞═══════════╪══════════╡
│   4110    │ 2245.92  │
├───────────┼──────────┤
│   2020    │ 2245.92  │
├───────────┼──────────┤
│   1010    │ 28803.9  │
├───────────┼──────────┤
│   8100    │ 64682.4  │
├───────────┼──────────┤
│   6000    │ 79280.8  │
├───────────┼──────────┤
│   7041    │ 87590.7  │
├───────────┼──────────┤
│   2010    │ 89836.6  │
├───────────┼──────────┤
│   2110    │  112296  │
├───────────┼──────────┤
│   2370    │  113194  │
├───────────┼──────────┤
│   7015    │  121279  │
╘═══════════╧══════════╛

 Типы транзакций, которые встречаются одновременно и у мужчин, и у женщин:
╒══════╤═══════════════════╤═════════════════════╕
│      │  max_income_male  │  max_income_female  │
╞══════╪═══════════════════╪═════════════════════╡
│ 1010 │      24839.8      │       28803.9       │
├──────┼───────────────────┼─────────────────────┤
│ 2010 │      44918.3      │       89836.6       │
├──────┼───────────────────┼─────────────────────┤
│ 2110 │      22459.2      │       112296        │
├──────┼───────────────────┼─────────────────────┤
│ 2370 │      2335.75      │       113194        │
├──────┼───────────────────┼─────────────────────┤
│ 4110 │      2245.92      │       2245.92       │
╘══════╧═══════════════════╧═════════════════════╛

## Задание 7

1. Найдите суммы затрат по каждой категории (mcc) для мужчин и для женщин. 
2. Найдите топ 10 категорий с самыми большими относительными модулями разности в тратах для разных полов (в ответе должны присутствовать описания mcc кодов).

In [ ]:
sum_expenses_for_mcc_codes = pd.DataFrame(
    index=transactions.mcc_code.unique(),
)

sum_expenses_for_mcc_codes['male_sum_expenses'] = \
    transactions[(transactions.gender == genders['male']) & (transactions.amount < 0.0)].groupby('mcc_code').amount.sum()

sum_expenses_for_mcc_codes['female_sum_expenses'] = \
    transactions[(transactions.gender == genders['female']) & (transactions.amount < 0.0)].groupby('mcc_code').amount.sum()

sum_expenses_for_mcc_codes['diff_between_gender_expenses'] = \
    np.abs(sum_expenses_for_mcc_codes.male_sum_expenses - sum_expenses_for_mcc_codes.female_sum_expenses)

sum_expenses_for_mcc_codes['mcc_description'] = \
    tr_mcc_codes.loc[sum_expenses_for_mcc_codes.index].mcc_description

# print_dataframe(sum_expenses_for_mcc_codes)

top10_diff_between_male_and_female_expenses = \
    sum_expenses_for_mcc_codes.sort_values(by='diff_between_gender_expenses', ignore_index=False, ascending=False).head(10)

print("\n Топ 10 категорий с самыми большими модулями разности в тратах для разных полов:")
print_dataframe(top10_diff_between_male_and_female_expenses)

 Топ 10 категорий с самыми большими модулями разности в тратах для разных полов:
╒══════╤═════════════════════╤═══════════════════════╤════════════════════════════════╤════════════════════════════════════════════════════════════════════════════╕
│      │  male_sum_expenses  │  female_sum_expenses  │  diff_between_gender_expenses  │ mcc_description                                                            │
╞══════╪═════════════════════╪═══════════════════════╪════════════════════════════════╪════════════════════════════════════════════════════════════════════════════╡
│ 6011 │    -4.95808e+09     │     -8.04394e+09      │          3.08586e+09           │ Финансовые институты — снятие наличности автоматически                     │
├──────┼─────────────────────┼───────────────────────┼────────────────────────────────┼────────────────────────────────────────────────────────────────────────────┤
│ 4829 │    -3.51386e+09     │     -6.01302e+09      │          2.49915e+09           │ Денежные переводы                                                          │
├──────┼─────────────────────┼───────────────────────┼────────────────────────────────┼────────────────────────────────────────────────────────────────────────────┤
│ 6010 │    -2.61273e+08     │     -4.82131e+08      │          2.20858e+08           │ Финансовые институты — снятие наличности вручную                           │
├──────┼─────────────────────┼───────────────────────┼────────────────────────────────┼────────────────────────────────────────────────────────────────────────────┤
│ 5541 │    -5.16249e+07     │     -2.07057e+08      │          1.55433e+08           │ Станции техобслуживания                                                    │
├──────┼─────────────────────┼───────────────────────┼────────────────────────────────┼────────────────────────────────────────────────────────────────────────────┤
│ 5511 │    -5.09516e+06     │     -7.86239e+07      │          7.35288e+07           │ Легковой и грузовой транспорт — продажа, сервис, ремонт, запчасти и лизинг │
├──────┼─────────────────────┼───────────────────────┼────────────────────────────────┼────────────────────────────────────────────────────────────────────────────┤
│ 5812 │    -5.78796e+07     │     -1.28258e+08      │          7.03786e+07           │ Места общественного питания, рестораны                                     │
├──────┼─────────────────────┼───────────────────────┼────────────────────────────────┼────────────────────────────────────────────────────────────────────────────┤
│ 5977 │    -7.36078e+07     │     -3.11902e+07      │          4.24176e+07           │ Магазины косметики                                                         │
├──────┼─────────────────────┼───────────────────────┼────────────────────────────────┼────────────────────────────────────────────────────────────────────────────┤
│ 5533 │    -1.27898e+07     │     -5.51279e+07      │          4.23381e+07           │ Автозапчасти и аксессуары                                                  │
├──────┼─────────────────────┼───────────────────────┼────────────────────────────────┼────────────────────────────────────────────────────────────────────────────┤
│ 7995 │       -118910       │     -4.09146e+07      │          4.07956e+07           │ Транзакции по азартным играм                                               │
├──────┼─────────────────────┼───────────────────────┼────────────────────────────────┼────────────────────────────────────────────────────────────────────────────┤
│ 5661 │    -8.18314e+07     │     -4.36767e+07      │          3.81547e+07           │ Обувные магазины                                                           │
╘══════╧═════════════════════╧═══════════════════════╧════════════════════════════════╧════════════════════════════════════════════════════════════════════════════╛

## Задание 8

1. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
2. Посчитайте количество транзакций с amount<0 в ночное время для мужчин и женщин. Ночное время - это примерно 00-06 часов.

In [ ]:
night_expenses = transactions[(transactions.amount < 0.0)]
night_expenses['tr_hour'] = pd.Series(int(tr_datetime[-8:-6]) for tr_datetime in transactions.tr_datetime)
night_expenses = night_expenses[(night_expenses.tr_hour >= 0) & (night_expenses.tr_hour < 6)]

male_night_expenses = night_expenses[(night_expenses.gender == genders['male'])]
female_night_expenses = night_expenses[(night_expenses.gender == genders['female'])]

male_number_of_transactions = len(male_night_expenses)
female_number_of_transactions = len(female_night_expenses)

print("Количество операций по снятию средств среди мужчин в ночное время суток:", male_number_of_transactions)
print("Количество операций по снятию средств среди женщин в ночное время суток:", female_number_of_transactions)
print()



# # Не работает, т.к. в некоторых строчках 60 секунд, например 15:42:60.
# # Из-за этого не может нормально конвертировать в datetime.
# # re.search(' (.+?):', tr_datetime).group(1) тоже не работает, скорее всего, из-за неверного выражения.
# def get_tr_hour(tr_datetime):
#     print(tr_datetime, type(tr_datetime))
#     tr_hour = pd.to_datetime(transactions.tr_datetime[-8:]).dt.hour
#     print(tr_hour, type(tr_hour))
#     return tr_hour


# # Не хочет применяться в отсеивании таблицы, воспринимается как обычный массив вместо конкретного значения в строчке
# def check_tr_hour_for_night_time(tr_hour):
#     begin_night = 0
#     end_night = 6
#     return (int(tr_hour) >= begin_night) & (int(tr_hour) <= end_night)

Количество операций по снятию средств среди мужчин в ночное время суток: 38827
Количество операций по снятию средств среди женщин в ночное время суток: 43017

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy